
@font-face {
  font-family: 'Typewriter';
  font-style: normal;
  font-weight: normal;
  src: url('/public/fonts/JMH\ Typewriter.ttf'); /* IE9 Compat Modes */
  src: local('Typewriter'), local('Typewriter'),
       url('/public/fonts/JMH\ Typewriter.ttf') format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Typewriter';
  font-style: normal;
  font-weight: bold;
  src: url('/public/fonts/JMH\ Typewriter-Bold.ttf'); /* IE9 Compat Modes */
  src: local('Typewriter'), local('Typewriter'),
       url('/public/fonts/JMH\ Typewriter-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Typewriter';
  font-style: normal;
  font-weight: thin;
  src: url('/public/fonts/JMH\ Typewriter-Thin.ttf'); /* IE9 Compat Modes */
  src: local('Typewriter'), local('Typewriter'),
       url('/public/fonts/JMH\ Typewriter-Thin.ttf') format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Typewriter';
  font-style: normal;
  font-weight: black;
  src: url('/public/fonts/JMH\ Typewriter-Black.ttf'); /* IE9 Compat Modes */
  src: local('Typewriter'), local('Typewriter'),
       url('/public/fonts/JMH\ Typewriter-Black.ttf') format('truetype'), /* Safari, Android, iOS */
}

body {
  font-family: 'Typewriter';
}

button {
  font-family: 'Typewriter';
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.parent {
  position: relative;
  top: 0;
  left: 0;
}

.childImage {
  position: absolute;
}

.caption-block {
  margin-top: -25px;
  background-color: white;
  color: black;
  font-size: 30 !important;
  height: 80px;
  width: 500px;
  padding-left: 10px;
  z-index: 1;
  padding-top: 10px;
  box-shadow: -10px 10px #7B7B7B;
  border-radius: 6px;
  outline-width: 2px;
  outline-style: solid;
  outline-color: black;
  outline-offset: 0;
}

.caption-text {
  margin-top: 0 !important;
  margin-bottom: -8px !important;
}

.speaker {
  font-size: 30 !important;
  color: black;
  background-color: white;
  width: 160px;
  height: 25px;
  padding-left: 10px;
  padding-top: 5px;
  margin-left: 15px;
  z-index: 5;
  font-weight: bold !important;
  border-radius: 6px;
  outline-width: 2px;
  outline-style: solid;
  outline-color: black;
  outline-offset: 0;
}

.captionButton {
  width: 50px;
  height: 50px;
  margin-left: 30px;
  border-radius: 50%;
  margin-top: 55px;
}

.caption-container {
  display: flex;
  flex-direction: column;
}

/* .captionImage {
  height: 25px;
  text-align: center;
  margin-top: 4px;
} */

.screenSizeWarning {
  height: 100vh;
  background-color: black;
  width: 100vw;
  position: absolute;
  padding: 30px;
  z-index: 1000;
}

@media only screen and (min-width: 1000px) {
  .screenSizeWarning {
      display: none;
  }
}

.styledButton {
  margin-top: 30px;
  height: 40px;
  width: 200px;
  box-shadow: -6px 6px #7B7B7B;
  border-radius: 6px;
  outline-width: 2px;
  outline-style: solid;
  outline-color: black;
  outline-offset: 0;
}

.secondaryButton {
  background-color: #ADADAD !important;
  outline-style: solid;
  outline-color: black;
  outline-offset: 0;
  margin-top: 30px;
  height: 40px;
  width: 200px;
  border-radius: 6px;
  position: absolute;
  top: 10px;
  right: 30px;
}

.buttonCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -20px !important;
  margin-left: -100px !important;
}

.overlay {
  opacity: 0.5;
}

.text-block {
  color: white;
  position: absolute;
  top: 30px;
  left: 30px;
  width: 450px;
  padding: 20px;
  background-color: #00000066;
}

.buttonTransition {
  transition: opacity 0.5s;
  opacity: 1;
}

.buttonHide {
  opacity: 0;
  pointer-events:none;
}

.guard-buttons {
  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom: 0 !important;
  width: 100%;
}