

.mapButton {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
  }
  
  .leftArrow {
    position: absolute;
    bottom: 50%;
    left: 0;
    z-index: 5;
    width: 70px;
    margin-left: 20px;
  }
  
  .rightArrow {
    position: absolute;
    bottom: 50%;
    right: 0;
    z-index: 5;
    width: 70px;
    margin-right: 20px;
  }