.modal {
    position: fixed;
    background-color: black;
    color: white;
    width: 800px;
    /* height: 500px; */
    z-index: 2;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 12px;
    display: flex;
}

.image-wrapper {
    overflow: hidden;
    width: 450px;
}

.modal-image {
    width: 100%;
    padding: 20px;
    position: relative;
    z-index: 1 !important;
    top: 50%;
    transform: translateY(-50%);
    /* border-radius: 12px 0px 0px 12px; */
}

.info {
    width: 50%;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
}

.closeButton {
    position: absolute;
    width: 15px;
    height: 15px;
    margin-left: 350px;
    margin-top: -10px !important;
    border-radius: 0;
}

.note {
    margin-top: -20px;
}

.value {
    position: relative;
    background-color: #AD1E1E;
    height: 30px;
    width: 300px;
    border-radius: 4px;
    margin-left: -100px;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 75px;
    z-index: 100;
}

.value h4 {
    padding-top: 5px;
}